<form [formGroup]='form'>
    <mat-form-field appearance="fill">
        <mat-label>用户</mat-label>
        <input matInput formControlName='user'>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>消息</mat-label>
        <textarea matInput formControlName='message'></textarea>
    </mat-form-field>
</form>

<div class="buttons">
    <button mat-raised-button (click)='connectHub()' [disabled]='connected'>连接</button>
    <!-- <button mat-raised-button color="accent" (click)='disconnectHub()' [disabled]='!connected'>关闭</button> -->
    <button mat-raised-button color="primary" (click)='sendMessage()' [disabled]='!connected'>发送</button>
</div>